body {
    -webkit-transform:translate3d(0,0,0);
}
#container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    background: transparent url('../STATS&CO/Auth/AuthWall.jpg')no-repeat 50% 50% / cover;
    z-index: 1;
    opacity: .75;
}
#auth_cards_container{
    position: relative;
    display: block;
    background-color: rgba(12, 36, 97,.85);
    overflow: hidden;
    z-index: 2;
    width:max-content;
    height:max-content;
    margin:auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    box-shadow: 0 20px 100px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 20px 100px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 20px 100px 10px rgba(0,0,0,0.75);

    transition: var(--2W-transition-35);
    -webkit-transition: var(--2W-transition-35);
    -moz-transition: var(--2W-transition-35);
    -o-transition: var(--2W-transition-35);

}
#auth_cards_container ul.hearder{
    list-style-type: none;
    display: table;
    height:max-content;
    margin:0;
    background-color: rgba(0, 0, 0, .5);
    padding:5px;
}
#auth_cards_container .body{
    display: block;
    position: relative;
    width:100%;
    padding:5px;
}
.onglet-auth{
    display: table-cell;
    float: left;
    margin:5px;
    line-height: 33px;
    cursor: pointer;
    opacity: 0.25;
}
.onglet-auth.active{
    opacity:1;
    border-bottom:2px solid white;
}
.onglet-auth::before{
    content: '';
    display: block;
    float: left;
    position: relative;
    margin-right: 5px;
    width:32px;
    height:32px;
    background-color: rgba(0,0,150,.5);
}
#onglet-auth-connection::before{
      background: transparent url('../STATS&CO/Auth/people.png')no-repeat 50% 100% / 32px;
}
#onglet-auth-inscription::before{
      background: transparent url('../STATS&CO/Auth/clipboard.png')no-repeat 50% 100% / 32px;
}

#login_cards_container, #register_cards_container{
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: none;

}
#login_cards_container.active, #register_cards_container.active{
    display: block;
}
.connect_cards_darkbackground{
    background-color: var(--bleu-fond-50);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}


.connect_cards_form{
    display: grid;
    position: relative;
}
.connect_cards_form_containers{
    height: 42px;
    margin: 10px 5px;
    clear: both;
    position: relative;
    display: block;

    border-bottom: 2px solid white;
    -webkit-border-bottom: 2px solid white;
    -moz-border-bottom: 2px solid white;

}

.connect_cards_form_containers:hover{
    background-color: var(--bleu-fond-50);
}

.connect_cards_form_containers label{
    width: 42px;
    height: 42px;
    float: left;
    position: relative;
    display: block;

    top: 0;
    left: 0;
}
.connect_cards_form_containers input{
    width: calc( 100% - 42px );
    height: 42px;
    float: left;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    color: white;

    background-color: transparent;
    border: none;
    -webkit-border: none;
    -moz-border: none;
    outline: none;

}

.connect_cards_form button{
    position: relative;
    display: block;

    width: 150px;
    height: 42px;

    background-color: transparent;
    color: white;
    margin: 10px auto;

    border: 2px solid white;
    outline: none;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: ease-in-out .25s;
    -webkit-transition: ease-in-out .25s;
    -moz-transition: ease-in-out .25s;
    -o-transition: ease-in-out .25s;
    cursor: pointer;
}
.connect_cards_form button:hover{
    color:  rgba(12, 36, 97,1.0);
    background-color: white;

    transition: ease-in-out .25s;
    -webkit-transition: ease-in-out .25s;
    -moz-transition: ease-in-out .25s;
    -o-transition: ease-in-out .25s;
}

label[for="login_cards_input_login"]{
    background : transparent url('../STATS&CO/Auth/envelope.png') no-repeat 50% 50% / 24px;
    opacity: 0.5;
}

label[for="login_cards_input_password"]{
    background : transparent url('../STATS&CO/Auth/locked (1).png') no-repeat 50% 50% / 24px;
    opacity: 0.5;
}

label[for="register_cards_input_first_name"], label[for="register_cards_input_last_name"]{
    background : transparent url('../STATS&CO/Auth/people.png') no-repeat 50% 50% / 24px;
    opacity: 0.5;
}
label[for="register_cards_input_email"]{
    background : transparent url('../STATS&CO/Auth/envelope.png') no-repeat 50% 50% / 16px;
    opacity: 0.5;
}
label[for="register_cards_input_birthday"]{
    background : transparent url('../STATS&CO/Auth/calendar.png') no-repeat 50% 50% / 24px;
    opacity: 0.5;
}
label[for="register_cards_input_password"], label[for="register_cards_input_passwordVerify"]{
    background : transparent url('../STATS&CO/Auth/locked (1).png') no-repeat 50% 50% / 24px;
    opacity: 0.5;
}
button[type='submit']{
    font-family: "Orkney Light", Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.forgot_passwd_link{
    color: var(--bleu-neon);
    text-decoration: underline;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    text-align: center;
    display: block;
    margin:5px auto;
    position: relative;
}

#connection-section{
    background-color: var(--bleu-fond);
    padding-top: 0;
}
/*https://www.flaticon.com/packs/interface-46*/