.logo-club {
    width: 32px;
    margin-bottom: 10px;
}

.col-md-12 h1 {
    color: white;
    text-shadow: var(--shadow-neon);
    font-family:"Orkney Medium", Roboto, sans-serif;
    font-size : 30px;
}

.col-md-6 h4 {
    color: white;
    font-family:"Orkney Medium", Roboto, sans-serif;
}

p {
    color: white;
}