.container-perso {
    margin-top : 90px;
}

.nom-club-result {
    color: white;
    text-shadow: var(--shadow-neon);
    font-family:"Orkney Medium", Roboto, sans-serif;
    font-size : 15px;
}

h2 {
    color: white;
    font-family:"Orkney Medium", Roboto, sans-serif;
    font-size: 15px;
}

* {
    font-family:"Orkney Medium", Roboto, sans-serif;
    text-transform: uppercase;
}

p {
    color: white;
        margin: 5px;
}

.nameAl {
    color: white;
    text-shadow: var(--shadow-neon);
}

.infoTeam {
    margin-top: 60px;
}

.logo-club-title {
    display: block;
    width: 128px;
    height: 128px;
    margin: auto;
}

.iconcustom{
    font-size: 40px;
}

.logo-club-32 {
    width: 32px;
    height: 32px;
}

.dateMatch {
    margin-bottom: 5px;
}

.dateMatch1 {
    margin-bottom: 30px;
}

.chartLoiDePoisson {
    margin-top: 10px;
}

.noUpper {
    text-transform: none;
}

.justify {
    text-align: justify;
}

.statTeam {
    margin-top: 50px;
}

.nomclubperso{
    color: white;
}




.container section {
    height: 100%;
    background: #449df5;
    color: #fff;
    text-align: center;

}

.container section label {
    position : initial;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5em;
    bottom: 0;
}

.container section label:nth-child(odd) { right: 120px; }

.container section label:nth-child(even) { left: 120px; }

.container section > i {
    font-size: 6em !important;
    margin-top: 50px;
    margin-bottom: 25px;
}
input[type="radio"] { display: none; }

input[type="radio"]:checked + section { display: block; }




